<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531174116492-e1dtoufsu7gaurhba0agjs08bkdnggr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531174116492-e1dtoufsu7gaurhba0agjs08bkdnggr8</string>
	<key>API_KEY</key>
	<string>AIzaSyBqHkvaSB3kk2-6pPWa0_IFd3CXcOh9OQw</string>
	<key>GCM_SENDER_ID</key>
	<string>531174116492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-233fb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-233fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531174116492:ios:7c2fe0f831e134cc633fa9</string>
</dict>
</plist>